.title {
  font-weight: 700;
}
.input {
  min-width:0;
  margin: 1%;
}
.border-red,
.border-red:hover,
.border-red:focus {
  border: 2px solid red;
}

form {
  margin-bottom: 2rem;
}
table {
  margin-top: 3rem;
}
.card-text {
  font-size: 15px;
  height: 300px;
}
table,
td,
th {
  /* border: 1px solid black; */
  text-align: center;
}
td,
th button {
  padding: 1rem 2rem;
}
h1 {
  text-align: center;
}
body {
  margin-top: 2rem;
}
th button {
  width: 100%;
}
th button:hover {
  background-color: rgb(143, 143, 143);
}
